<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include('./includes/header')%>
<h1>실습하고 있슴미다.</h1>
<h2>아자아자</h2>
<% for (let i=0; i<5; i++){ %>
<div>그래!<%=i%></div>
<%}%>
<a href="/p">+</a>
<a href="/m">-</a>
</body>
</html>
